# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Runtime
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Env
.env
.env*.local
!.env.local.example
!.env.example

# Editor / OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Vercel
.vercel

# Monorepo additions
.pnpm-store/
apps/*/node_modules/
apps/*/.next/
apps/*/dist/
apps/*/build/
apps/*/.expo/
apps/*/ios/
apps/*/android/
packages/*/dist/
packages/*/node_modules/
pnpm-debug.log*
